# http://www.gnu.org/software/automake

Makefile.in
Makefile

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/src/test/router_test
/src/test/form_test
/config.h
/config.log
/config.status
/po/POTFILES
/po/stamp-it
/libtool
/stamp-h1
/src/test/query_test
#anjuta 
.anjuta/
.anjuta_sym_db.db

#build files
*.o
*.lo
*.la
*.deps
*.libs
*.dirstamp
*.pc

/config.h.in~
